extends base.pug

block scripts
    script(src='../static/index.js')
    
block style 
    style 
        include ../static/style.css
        include ../static/styleContact.css

block content 
    div.classCon
        H1 Fill up your Details
        
        form.myForm.classCon(action='/contact', method='post')
            input.myInput(type='text', name='name', placeholder='Enter your name..')
            input.myInput(type='phone', name='phone', placeholder='Enter your contact number..')
            input.myInput(type='email', name='email', placeholder='Enter your email..')
            input.myInput(type='address', name='address', placeholder='Enter your address..')
            input.myInput(type='text', name='desc', placeholder='Your queries..')
        
            button.btn
                | Submit