doctype html
// can use "Pexels" for images
head
  // Here we used "Font Awesome" & can use "font awesome cheatsheets"
  script(src='https://kit.fontawesome.com/1d9c5b275e.js' crossorigin='anonymous')
  title Sign In Page
  meta(charset='utf-8')
  meta(http-equiv='Content-type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='style.css')
// Ready to use Font Awesome. Activate interlock. Dynotherms - connected. Infracells - up. Icons are go!
// <i class="fas fa-thumbs-up fa-5x"></i>
.container
  h1 Login to Dance Academy
  .box
    i.fas.fa-envelope
    input#email.type(type='email' name='email' placeholder='Enter Your Email')
  .box
    i.fas.fa-key
    input#password.type(type='password' name='password' placeholder='Enter Your Password')
  input.btn(type='submit' value='Submit')