//- pug: basically used to simplify html
//- Indentation is important
//- Google : search "node template enginees to get the documentation
//- Pug to html & vice-versa websites are available in google
//-   ../    ek folder back le jata hai

html
  head
    title= title
  body
    h1= message