//- pug: basically used to simplify html
//- Indentation is important
//- Google : search "node template enginees to get the documentation
//- Pug to html & vice-versa websites are available in google
//- Pug supports template inheritance in which we don't need to repeat the same thing in different hyperlinks like for home, contact & about we need same footer & nav bar
//-   ../    ek folder back le jata hai

html
  head
    title= title
  body
    h1= message